.input-text{
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    border: 1px solid #3A3A3A;
    border-radius: 10px;
    margin: 5%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-text::placeholder{
    color: #B0B0B0;
}

.input-tahun{
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 75px;
    border: none;
    border-bottom: 1px solid #3a3a3a;
}

.input-tahun::placeholder{
    color: #B0B0B0;
}

.input-bulan{
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50px;
    border: none;
    border-bottom: 1px solid #3a3a3a;
}

.input-bulan::placeholder{
    color: #B0B0B0;
}

.input-hari{
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50px;
    border: none;
    border-bottom: 1px solid #3a3a3a;
}

.input-hari::placeholder{
    color: #B0B0B0;
}

.select-sales{
    border: none;
    font-size: 14px;
    font-family: 'Golos Text', sans-serif;
    width: 200px;
    color: #3A3A3A;
}

input.button-submit-search {
    border-radius: 9px;
    padding: 5px 10px 5px 10px;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    border: 1px solid #3A3A3A;
    color: #3A3A3A;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    background: #CACACA;
    font-weight: bold;
}

input.button-submit-search:hover {
    background: #3A3A3A;
    color: #CACACA;
}

input#kata-kunci {
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: fit-content;
    border: none;
    border-bottom: 1px solid #3a3a3a;
    color: #3A3A3A;
}

input#kata-kunci{
    color: #B0B0B0;
}

.input-text-add{
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    border: 1px solid #3A3A3A;
    border-radius: 10px;
    margin: 0px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.input-text-add::placeholder{
    color: #B0B0B0;
}
