.btn-log-in-home{
    background: #F1B0B0;
    border: 1px solid #3A3A3A;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Golos Text', sans-serif;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-log-out{
    background: #F1B0B0;
    border: 1px solid #3A3A3A;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Golos Text', sans-serif;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-log-out:hover{
    background-color: #F76161;
}

.btn-log-in-home:hover{
    background-color: #F76161;
}

.button-submit-login{
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Golos Text', sans-serif;
    font-size: 100%;
    background: #89F195;
    border: 2px solid #3A3A3A;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
}

.button-submit-login:hover{
    background-color: #009E13;
}

.button-sub-menu{
    margin: 2% 5% 0% 5%;
    padding: 5px 10px 5px 10px;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    background: #98C89E;
    border: 1px solid #3A3A3A;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    font-weight: bold;
    color: #3A3A3A;
}

.button-sub-menu:hover{
    background-color: #678F6C;
    color: #CEE4C5;
}

button.button-sub-menu1{
    padding: 5px 10px 5px 10px;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    background: #98C89E;
    border: 1px solid #3A3A3A;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    font-weight: bold;
    color: #3A3A3A;
}

button.button-sub-menu1:hover{
    background-color: #678F6C;
    color: #CEE4C5;
}

.button-sub-menu-back{
    margin: 2% 5% 0% 5%;
    padding: 5px 10px 5px 10px;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    background: #F7FFA6;
    border: 1px solid #3A3A3A;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    font-weight: bold;
    color: #3A3A3A;
}

.button-sub-menu-back:hover{
    background-color: #AEBC1B;
    color: #F7FFA6;
}

.button-add-data{
    margin: 0% 5% 2% 5%;
    padding: 5px 10px 5px 10px;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    background: #98C89E;
    border: 1px solid #3A3A3A;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    font-weight: bold;
    color: #3A3A3A;
}

.button-add-data:hover{
    background-color: #527A57;
    color: #98C89E;
}

button.button-sub-menu-back1{
    padding: 5px 10px 5px 10px;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    background: #F7FFA6;
    border: 1px solid #3A3A3A;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    font-weight: bold;
    color: #3A3A3A;
}

button.button-sub-menu-back1:hover{
    background-color: #AEBC1B;
    color: #F7FFA6;
}

button.button-lihat-foto {
    margin: 0px 5px 0px 5px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    font-family: 'Golos Text', SANS-SERIF;
    font-weight: bold;
    background-color: #98C89E;
    border-radius: 10px;
    border: 1px solid #3A3A3A;
}

button.button-lihat-foto:hover {
    background-color: #527A57;
    color: #98C89E;
}